<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>松下組備品管理システム - <%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <%- include('./header', {user: user}) %>
    <%# useridとusernameを対応付け %>
    <% let users = {}; %>
    <% for (let i = 0, l = books_user.length; i < l; i++) { %>
    <%   users[books_user[i].userid] = books_user[i].username; %>
    <% } %>
    <h1><%= title %></h1>
    <table border="1">
      <tr>
        <th>画像</th>
        <th>題名</th>
        <th>著者</th>
        <th>カテゴリ</th>
        <th>在庫</th>
        <th>借りている人</th>
      </tr>
      <% for (let i=0, l = books_info.length; i < l; i++) { %>
        <tr>
          <td><img src="<%= books_info[i].thumbnail %>"></td>
          <td><a href="books/detail/<%= books_info[i].id %>"><%= books_info[i].title %></a></td>
          <td><%= books_info[i].authors %></td>
          <td><%= books_info[i].categories %></td>
          <td><%= books_manage[i].stock %></td>
          <td>
            <%# 借りている人がいる場合 %>
            <% if (books_manage[i].borrowedBy) { %>
              <%# 複数人が借りている場合,で分割 %>
              <% const borrowers = books_manage[i].borrowedBy.split(','); %>
              <% for (let j = 0, k = borrowers.length; j < k; j++) { %>
                <%= users[borrowers[j]] %>
                <% if (j != k - 1) { %>
                  <%= '，' %>
                <% } %>
              <% } %>
            <% } %>
          </td>
        </tr>
      <% } %>
    </table>
    <%- include('./footer') %>
  </body>
</html>
