<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>松下組備品管理システム - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/book.js"></script>
    <script type="text/javascript">
      $(document).ready(() => {
        const isbn = getParam();
        if (isbn) {
          $('#isbn').val(isbn);
        }
      });
    </script>
  </head>
  <body>
    <%- include('./header', {user: user}) %>
    <h1><%= title %></h1>
    <form method="get" action="/books/checkout">
      <p>
        ISBN:
        <input type="text" name="isbn" id="isbn" required="true"/>
        <button type="button" name="button" onclick="searchISBN()">検索</button>
      </p>
    </form>
    <%= error %>
    <% if (book_info) { %>
      <%- include('./book_info', {user: user, book_info: book_info, book_manage: book_manage}) %>
    <% } %>
  </body>
</html>
